/*
 * @Author: Peak Xin 
 * @Date: 2020-03-12 21:31:27 
 * @Last Modified by:   Peak Xin 
 * @Last Modified time: 2020-03-12 21:31:27 
 */
 .footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}