<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://www.google.com" target="_blank">Google</a> |
            <a class="link" href="https://www.bing.com" target="_blank">必应</a> |
            <a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a>
        </div>
        
        <p class="copyright">
            Copyright © 2020 xmall.com All Right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>