/*
 * @Author: Peak Xin 
 * @Date: 2020-03-12 20:55:11 
 * @Last Modified by: Peak Xin
 * @Last Modified time: 2020-03-12 21:02:43
 */
.nav-simple {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo {
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}